<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>Bienvenido a SmartToolsApp!</h1>
    <p class="lead">Una gran experiencia para compartir contenidos visuales</p>
  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Acerca de nosotros</h2>
        <p class="lead">Publicitamos sus productos a traves de contenidos audivisuales para que tenga una oportunidad única de ofertar!</p>
      </div>
    </div>
  </div>
</section>