<% if !@consurso.errors.empty? %>
  <div class = "alert alert-error">
    <ul>
      <% @consurso.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container-fluid" style="width: 800px; margin: 0 auto;">
  <h1 class="page-header">Ingresar Concurso</h1>
  <div class = "well">
    <%= render 'form' %>
  </div>
</div>

